/*
*= require material_icons
*/
@import "materialize/components/color-variables";
$primary-color: color("red", "base") !default;
$secondary-color: color("red", "base") !default;
@import "materialize";


.search-form{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .search{
    order: 1;
    margin-right: 10px;
  }

  #search{
    order: 2;
  }
  
